<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sees-phi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>sees-phi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SEES-PHI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SEES-PHI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LMSDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lms-seesdb.database.windows.net,1433;Initial Catalog=LMS-SEES;Persist Security Info=False;User ID=JonCarterDBADM;Password=UQA3JtnHHLbecr;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:lms-seesdb.database.windows.net,1433;Initial Catalog=LMS-SEES;Persist Security Info=False;User ID=JonCarterDBADM;Password=UQA3JtnHHLbecr;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Grad_Project.Models.LMSDBEntities, Grad_Project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LMSDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LMSEntities.csdl|res://*/Models.LMSEntities.ssdl|res://*/Models.LMSEntities.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:lms-seesdb.database.windows.net,1433;Initial Catalog=LMS-SEES;Persist Security Info=False;User ID=JonCarterDBADM;Password=UQA3JtnHHLbecr;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>