@model Grad_Project.Models.FileDataVM

@using (Html.BeginForm("UploadImage", "Lecturer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "margin_30_95 centered-form" }))
{
    <div>
        @Html.LabelFor(x => x.File)
        @Html.TextBoxFor(x => x.File, new { type = "file", accept = "image/*" })
        @Html.ValidationMessageFor(x => x.File)
    </div>

    <button type="submit">Upload</button>
}