<div class="fixed-bg">
    <!--First Section -->
    <section class="hero_single">
        <div class="vertical-center">
            <h1>FOR BETTER LEARNING EXPERIENCE</h1>
            <p style="font-size:medium;">Help You To Have Better Educational Experience</p>
        </div>
    </section>
    <div class="features clearfix">
        <div>
            <ul style="list-style-type: none;">
                <li>
                    <i style="font-size:x-large;" class="glyphicon glyphicon-user"></i>
                    <h4>Users</h4>
                    <span>Secure Accounts For All Users</span>
                </li>
                <li>
                    <i style="font-size:x-large;" class="glyphicon glyphicon-cloud"></i>
                    <h4>Services</h4>
                    <span>Fast Web Services</span>
                </li>
                <li>
                    <i style="font-size:x-large;" class="glyphicon glyphicon-home"></i>
                    <h4>E-Learning</h4>
                    <span>Can be Used in E-Learning</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Second Section -->
    <div class="margin_30_95 container" style="background-color:white;">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>S.E.E.S Categories Departments</h2>
            <p style="font-size:medium;">This System Supports Five Departments</p>
        </div>
        <!-- Row -->
        <div class="row">
            <!-- Arch eng -->
            <div class="col-md-6 col-lg-4 col-sm-12" style="visibility:visible;">
                <figure class="block-reveal">
                    <div class="img-hover-zoom--quick-zoom">
                        <img class="img-fluid" src="~/Content/Images/arch-eng.jpg" />
                    </div>
                    <div class="info">
                        <h4>Architecture Engineering</h4>
                    </div>
                </figure>
            </div>
            <!-- Civil eng -->
            <div class="col-md-6 col-lg-4 col-sm-12" style="visibility:visible;">
                <figure class="block-reveal">
                    <div class="img-hover-zoom--quick-zoom">
                        <img class="img-fluid" src="~/Content/Images/civil-eng.jpg" />
                    </div>
                    <div class="info">
                        <h4>Civil Engineering</h4>
                    </div>
                </figure>
            </div>
            <!-- Comm eng -->
            <div class="col-md-6 col-lg-4 col-sm-12" style="visibility:visible;">
                <figure class="block-reveal">
                    <div class="img-hover-zoom--quick-zoom">
                        <img class="img-fluid" src="~/Content/Images/comm-eng.jpg" />
                    </div>
                    <div class="info">
                        <h4>Electronics and Communication Engineering</h4>
                    </div>
                </figure>
            </div>
            <!-- elect eng -->
            <div class="col-md-6 col-lg-4 col-sm-12" style="visibility:visible;">
                <figure class="block-reveal">
                    <div class="img-hover-zoom--quick-zoom">
                        <img class="img-fluid" src="~/Content/Images/pow-eng.jpg" />
                    </div>
                    <div class="info">
                        <h4>Electrical Engineering</h4>
                    </div>
                </figure>
            </div>
            <!-- mech eng -->
            <div class="col-md-6 col-lg-4 col-sm-12" style="visibility:visible;">
                <figure class="block-reveal">
                    <div class="img-hover-zoom--quick-zoom">
                        <img class="img-fluid" src="~/Content/Images/mech-eng.jpg" />
                    </div>
                    <div class="info">
                        <h4>Mechanical Engineering</h4>
                    </div>
                </figure>
            </div>
        </div>
    </div>

    <div class="call-section">
        <div class="container clearfix">
            <div class="col-md-6 col-lg-5">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <h3>Register Now</h3>
                        <br />
                        <a href="@Url.Action("Create", "Student")" class="btn_1 rounded">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
