
<div class="margin_30_95" style="margin-left:30px;">
    <h2>Reset Password</h2>
    <br />
    <br />
    <form method="post" action="ResetPasswords">
        <div class="form-group">
            <label class="control-label">Please Enter The E-mail</label>
            <input type="text" class="form-control" name="Email" id="Email" />
        </div>
        <div class="form-group">
            <label class="control-label">Please Enter The ID code</label>
            <input type="text" class="form-control" name="UserID" id="UserID" />
        </div>
        <div class="form-group">
            <label class="control-label">Please Enter The New Password</label>
            <input type="text" class="form-control" name="newPassword" id="newPassword" />
        </div>
        <div class="form-group">
            <input type="submit" value="Reset" class="btn btn-sees" />
        </div>
    </form>
</div>
